extends ../layout.jade
block contenido
	h1 Panel de administración
	table(class="table")
		caption Productos Actuales
		thead
			tr
				th #
				th Marca
				th Modelo
				th Estatus
				th Imágenes
				th Acciones
		tbody
			each product in products
				tr
					td= product.id
					td= product.brand
					td= product.state
					td
						a(href="#{product.imageUrl}" class="btn") Ver Imagen
					td 
						a(href="/productos/edit/#{product.id}") Editar
						=" - "
						a(href="/productos/delete/#{product.id}") Eliminar